:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan1: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan1: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.1s linear;
  font-family: "Space Mono", monospace;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--light-grayish-cyan1);
}

.header {
  text-transform: uppercase;
  width: min-content;
  margin: 5rem auto;
}

.title {
  color: var(--dark-grayish-cyan1);
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

.main {
  width: 48rem;
  height: 26rem;
  background-color: var(--white);
  margin: auto;
  border-radius: 0.9rem;
}

.main__content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 1.8rem;
}

.inputs__container {
  height: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4em 0;
}

.input__content {
  position: relative;
}

.input__content input[type="number"] {
  width: 100%;
  padding: 0.4em 0.6em;
  background-color: var(--light-grayish-cyan2);
  direction: rtl;
  font-size: larger;
  color: var(--very-dark-cyan);
  font-weight: bold;
}

.input__content input[type="number"]::-webkit-outer-spin-button,
.input__content input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.input__content label {
  color: var(--dark-grayish-cyan1);
  font-size: small;
  font-weight: bold;
}

.input__content img {
  position: absolute;
  top: 55%;
  left: 4%;
}

.btn__container span {
  color: var(--dark-grayish-cyan1);
  font-size: small;
  font-weight: bold;
  display: block;
  padding-bottom: 1.6em;
}

.btn__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6em;
}

.btn__content button {
  background-color: var(--very-dark-cyan);
  padding: 0.6em;
  width: 100%;
  border-radius: 0.4em;
  color: var(--white);
  font-size: medium;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
}

.btn__content button:last-child {
  background-color: var(--light-grayish-cyan2);
  color: var(--very-dark-cyan);
}

.btn__content button:focus {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.results__container {
  background-color: var(--very-dark-cyan);
  height: 100%;
  width: 100%;
  border-radius: 0.9rem;
  padding: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  padding: 0.4em 0 1.4em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details p {
  color: var(--white);
  font-size: 0.9rem;
}

.details p > span {
  color: var(--dark-grayish-cyan2);
  font-size: smaller;
}

.details span {
  color: var(--strong-cyan);
  font-size: 2.2rem;
  font-weight: bold;
}

.results__container button {
  display: block;
  width: 100%;
  text-transform: uppercase;
  padding: 0.6rem 0;
  border-radius: 0.3em;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

/* Media query */

@media (max-width: 678px) {
  .header {
    margin: 1rem auto;
  }

  .main {
    width: 100vw;
    height: calc(100vh - 6.5rem);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .main__content {
    padding: 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 34%;
    gap: 1rem;
  }

  .details {
    padding: 0;
  }

  .results__container {
    padding: 1rem;
  }

  .btn__content {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
